.menu {
    overflow: hidden;
    position: absolute;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--card-bg);
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}
