.wrapper {
    display: flex;
    align-items: center;
}

.options {
    position: absolute;
    z-index: 10000;
    overflow: hidden;
    min-width: 100%;
    border-radius: 12px;
    background-color: var(--listbox-bg);
    box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
    padding: 10px 20px;
    white-space: nowrap;
}
