.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;
    background-color: var(--inverted-bg-color);
}

.mainLink {
    margin-right: 15px;
}

.links,
.actions {
    margin-left: auto;
}

.appName {
    width: var(--sidebar-width);
}
