.Overlay {
    position: fixed;
    inset: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-color);
    cursor: pointer;
}
